.form {
  &__wrapper {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
  }
  &__header {
    display: flex;
    justify-content: center;
  }
  &__input {
    width: 80%;
    display: block;
    margin: 10px auto;
  }
  &__submit-button{
    width: 40%;
    display: flex;
    margin-right: 10%;
    margin-left: auto;
  }
}

.go-back-button {
  margin-left: 10%;
}
