<mat-card class="form__wrapper">
  <mat-card-header class="form__header">Add new book</mat-card-header>
  <mat-card-content>
    <form class="form__content">
      <mat-form-field class="form__input">
        <input
          matInput
          placeholder="Tytuł"
          class="form-control"
          aria-describedby="Book name"
          name="bookName"
          [(ngModel)]="book.title"
        />
      </mat-form-field>
      <mat-form-field class="form__input">
        <input
          matInput
          placeholder="Autor"
          class="form-control"
          aria-describedby="authors name"
          name="author"
          [(ngModel)]="book.author"
        />
      </mat-form-field>
      <mat-form-field class="form__input">
        <input
          matInput
          placeholder="Wydawca"
          class="form-control"
          aria-describedby="Editor name"
          name="editorName"
          [(ngModel)]="book.editorName"
        />
      </mat-form-field>
      <mat-form-field class="form__input">
        <input
          matInput
          placeholder="Rok wydania"
          class="form-control"
          aria-describedby="Year of publication"
          [(ngModel)]="book.publicationYear"
          name="publicationYear"
        >
      </mat-form-field>
      <mat-form-field class="form__input">
        <input
          matInput
          placeholder="Lokalizacja"
          class="form-control"
          aria-describedby="Book location"
          [(ngModel)]="book.currentLocation"
          name="publicationYear"
        >
      </mat-form-field>
      <app-tags-chips></app-tags-chips>
      <button
        mat-button
        type="submit"
        class="form__submit-button"
        (click)="onSubmitForm()">Dodaj nową książkę
      </button>
    </form>
  </mat-card-content>
</mat-card>
