<table mat-table [dataSource]="borrowedBooksTableDataSource" class="mat-elevation-z8 books-table" >
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Tytuł </th>
    <td mat-cell class="books-table__title-cell" *matCellDef="let element"> {{element.borrowedBookTitle}} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let element"> {{element.borrowedBookDate}} </td>
  </ng-container>
  <ng-container matColumnDef="...">
    <th mat-header-cell *matHeaderCellDef>...</th>
    <td mat-cell *matCellDef="let element"> <button (click)="onReturnBook(element.bookID)">Oddaj</button>{{element.bookID}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row class="books-table__row" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
