<form class="add-new-user-panel">
  <h2>Add new user</h2>
  <mat-form-field>
    <input
      matInput
      placeholder="New user e-mail"
      [formControl]="newUserLoginEmail"
      [(ngModel)]="newUserLoginEmail"
      name="newUserLoginEmail"
      required>
    <mat-error *ngIf="loginEmail.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Enter your password"
      [type]="isPasswordHidden ? 'password' : 'text'"
      [(ngModel)]="newUserLoginPassword"
      name="newUserLoginPassword"
      required
    >
    <button
      mat-icon-button
      matSuffix
      (click)="isPasswordHidden = !isPasswordHidden"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="isPasswordHidden"
    >
      <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-button
    type="submit"
    (click)="onAddNewUser()">Login
  </button>
</form>
