<div class="navbar">
  <h1 class="navbar__title" routerLink="/library">CCLibrary</h1>
  <p *ngIf="userData" class="navbar__login-status">
    Jesteś zalogowany jako: {{this.isUserLoggedIn ? this.getCurrentUserEmail() : 'Anonim'}}
    <ng-container *ngIf="currentUserType === 'admin'">(admin)</ng-container>
  </p>
  <div class="navbar__button-row">
    <button class="navbar__button" mat-button color="primary" routerLink="/library">
      {{currentUserType === 'admin' ? 'Zasób' : 'Książki'}}
    </button>
    <button class="navbar__button"
            *ngIf="!isUserLoggedIn"
            mat-button color="primary"
            (click)="goToLoginPanel()">Zaloguj
    </button>
    <button class="navbar__button"
            *ngIf="isUserLoggedIn && currentUserType === 'regular'"
            mat-button color="primary"
            routerLink="/dashboard">Wypożyczenia
    </button>
    <button class="navbar__button"
            *ngIf="currentUserType === 'admin'"
            mat-button color="primary"
            routerLink="/dashboard/admin/users">Dodaj użytkownika
    </button>
    <button class="navbar__button"
            *ngIf="currentUserType === 'admin'"
            mat-button color="primary"
            routerLink="/dashboard/admin/books">Dodaj książkę
    </button>
    <button class="navbar__button"
            *ngIf="isUserLoggedIn"
            mat-button color="primary"
            (click)="logoutUser()">Wyloguj
    </button>
  </div>
</div>
