.navbar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  &__title {
    display: flex;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__login-status {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    margin-right: 5px;
    &-row {
      display: flex;
      justify-content: flex-end;
    }
  }
}
