<app-go-back-button class="go-back-button"></app-go-back-button>
<mat-card class="user-details__header">
  <mat-card-subtitle>Dane użytkownika:</mat-card-subtitle>
  <mat-card-title>{{userEmail}}</mat-card-title>
</mat-card>
<app-user-current-borrowed-books
  [borrowedBooksTableDataSource]="borrowedBooksTableDataSource"
  [displayedColumns]="borrowedBooksColumns"
  [addReturnBookOption]=false
></app-user-current-borrowed-books>
<app-operations-history
  [operationsHistoryTableDataSource]="operationsHistoryTableDataSource"
  [displayedColumns]="operationsColumns">
</app-operations-history>
