#monkey_404 {
  position: absolute;
  width: 80%;
  height: 80%;
}
.st0{fill:#E8EBED;}
.st1{fill:#FFFFFF;}
.st2{fill:none;stroke:#89949B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{fill:#E8EBED;stroke:#89949B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st4{fill:#FFFFFF;stroke:#89949B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st5{fill:none;stroke:#89949B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st6{fill:none;stroke:#89949B;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st7{fill:#FFFFFF;stroke:#89949B;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st8{fill:#89949B;}
.st9{fill:#89949B;}
.st10{fill:none;stroke:#89949B;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st11{fill:#FFFFFF;}
.st12{fill:#FFFFFF;stroke:#8894A0;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st13{fill:#FFFFFF;stroke:#89949B;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st14{fill:none;stroke:#89949B;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st15{fill:none;stroke:#89949B;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
