@import "../../shared/sass/variables";

.books-table {
  width: 100%;
  &__row {
    &:hover {
      cursor: pointer;
      background-color: $color-hover;
    }
  }
  &__title-cell {
    &:hover {
      cursor: pointer;
    }
    &--available {
      height: 24px;
      width: 24px;
      fill: #3F51BC;
      border-bottom: 1px #e0e0e0 solid;
    }
    &--unavailable {
      height: 24px;
      width: 24px;
      fill: #f44336;
      border-bottom: 1px #e0e0e0 solid;
    }
  }
}

