@import "../../shared/sass/variables";

.serachbar {
  font-size: 14px;
  width: 90%;
  margin-left: 5%;
}

.books-table {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  &__row {
    &:hover {
      cursor: pointer;
      background-color: $color-hover;
    }
  }
  &__title-cell {
    &:hover {
      cursor: pointer;
    }
    &-asd {
      height: 24px;
      width: 24px;
      fill: #3F51BC;
      border-bottom: 1px #e0e0e0 solid;
    }
    &-dsa {
      height: 24px;
      width: 24px;
      fill: #f44336;
      border-bottom: 1px #e0e0e0 solid;
    }
  }
}

